.o-clients {
  padding: 100px 0;
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    @include make-container();
    padding: 0 90px;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      &--left {
        @include make-col(8);
      }

      &--right {
        @include make-col(4);
      }
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 247px;
    height: 247px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .o-clients__image {
        opacity: 1;
        width: 247px;
        height: 247px;

        @include  media-breakpoint-down(lg)  {
          width: 207px;
          height: 207px;
        }

        @include  media-breakpoint-down(md)  {
          width: 154px;
          height: 154px;
        }
      }

      .o-clients__logo {
        opacity: 0;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease 0s;
  }

  &__image {
    width: 0px;
    height: 0px;
    border-radius: 350px;
    @include object-fit(cover);
    opacity: 0;
    transition: 0.4s ease-in-out 0s;
  }

  &__content {
    text-align: right;
    margin-top: 100px;
  }

  &__sub-title {
    font-size: 28px;
    font-weight: $font-weight-light;
    position: relative;

    &::after {
      content: '';
      width: 78px;
      height: 2px;
      left: 120px;
      background: $blue;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__title {
    font-size: 70px;
    font-family: $RobotoFontFamily;
    margin-bottom: 30px;
  }

  &__sub {
    font-size: 20px;
    font-weight: $font-weight-light;
    margin-bottom: 23px;
  }

  &__cta {
    padding: 20px 40px;
    box-shadow: 0 4px 14px rgba($blue, .60);
    display: inline-block;
    border-radius: 10px;
    color: $white;
    font-family: $RobotoFontFamily;
    font-size: 20px;
    background: linear-gradient(180deg, #1695b4 0, #1bb7d0);

    &:hover {
      color: $white;
    }
  }

  @include media-breakpoint-down(lg) {
    &__container {
      padding-left: 26px;
      padding-right: 26px;

      &>.o-clients__items {
        display: none;
      }
    }

    &__sub-title {
      font-size: 18px;


      &::after {
        left: 0;
      }
    }

    &__title {
      font-size: 60px;
    }


    &__item {
      width: 207px;
      height: 207px;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;

    &__content {
      margin-top: 0;
      max-width: 272px;
      margin-left: auto;
    }

    &__title {
      font-size: 36px;

      position: relative;

      &::after {
        content: '';
        width: 100px;
        height: 2px;
        left: -100px;
        background: $black;
        position: absolute;
        bottom: 25px;
      }
    }

    &__sub {
      font-size: 12px;
    }

    &__row {
      flex-direction: column-reverse;
    }

    &__cta {
      padding: 11px 17px;
      font-size: 11px;
      margin-bottom: 20px;
    }

    &__item {
      width: 157px;
      height: 157px;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
