.o-featured-work {
  padding: 80px 0;
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    @include make-container();
    padding-left: 60px;
    padding-right: 60px;
  }

  &__title {
    font-size: 100px;
    font-family: $RobotoFontFamily;
    margin-bottom: 19px;
    font-weight: $font-weight-light;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      width: 590px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
      background: $black;
    }
  }

  &__sub {
    font-size: 29px;
    font-weight: $font-weight-light;
    max-width: 734px;
    margin-bottom: 60px;
  }

  &__box {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    position: relative;
  }

  &__box-images {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__box-image {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: unset;
    top: 0;
    left: 0;
    @include object-fit(cover);
    opacity: 0;
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0.2s;
    transform: scale(1.2);

    &:first-child {
      opacity: 1;
    }
  }

  &__box-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &__details {
    position: absolute;
    top: 32px;
    left: 0;
    max-width: 1459px;
    width: 100%;

  }

  &__detail {
    padding: 31px 52px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba($white, 0.2);
    opacity: 0;
    transition: 0.5s ease 0s;

    &:first-child {
      opacity: 1;
      z-index: 2;
    }
  }

  &__details-title {
    font-size: 60px;
    font-family: $OpenSansFontFamily;
    margin-bottom: 32px;
  }

  &__details-sub {
    font-size: 40px;
    font-family: $OpenSansFontFamily;
  }

  &__companys {
    display: flex;
    position: absolute;
    bottom: 302px;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
  }

  &__company {
    width: 327px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    background-color: rgba($white, 0.3);
    border: 2px solid $white;
    border-right: none;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      background: $red;
      z-index: 1;
      transition: 0.3s ease 0s;
    }

    &:hover {
      &::before {
        top: 0;
      }

      .o-featured-work__company-cta {
        opacity: 1;
        left: 19px;
      }
    }
  }

  &__company-logo {
    position: relative;
    z-index: 2;
  }

  &__company-cta {
    position: absolute;
    bottom: 15px;
    left: -100px;
    display: flex;
    align-items: center;
    color: $white;
    transition: 0.3s ease 0s;
    opacity: 0;
    font-family: $OpenSansFontFamily;
    z-index: 3;

    img {
      margin-left: 15px;
      transition: 0.3s ease 0s;

    }

    &:hover {
      color: $white;

      img {
        margin-left: 25px;
      }
    }
  }

  &__cta {
    font-size: 20px;
    position: absolute;
    bottom: 23px;
    right: 56px;
    display: flex;
    align-items: center;
    color: $black;
    z-index: 2;
    font-family: $OpenSansFontFamily;

    img {
      margin-left: 15px;
      transition: 0.3s ease 0s;
    }

    &:hover {
      color: $black;

      img {
        margin-left: 25px;
      }
    }
  }

  @include media-breakpoint-down(lg) {

    &__container {
      padding-left: 28px;
      padding-right: 28px;
    }
    &__title {
      font-size: 70px;
      &::before {
        right: 0;
      }
    }

    &__details-title {
      font-size: 50px;
    }

    &__details-sub {
      font-size: 30px;
    }

    &__box {
      height: 900px;
    }

    &__companys {
      bottom: 200px;
      width: 100%;
      overflow-x: scroll;
    }

    &__company {
      flex: 0 0 auto;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;

    &__detail {
      padding: 20px 40px;
    }

    &__title {
      font-size: 50px;

      &::before {
        width: 190px;
      }
    }

    &__box {
      height: 780px;
    }

    &__companys {
      bottom: 102px;
      width: 100%;
      overflow-x: scroll;
    }

    &__details-title {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }

    &__details-sub {
      font-size: 30px;
      font-size: 18px;
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 36px;
      &::before {
        width: 90px;
        right: -28px;
      }
    }

    &__sub {
      font-size: 12px;
    }

    &__cta {
      background: rgba($white, 0.3);
      padding-left: 10px;
      padding-right: 10px;
      backdrop-filter: blur(6px);
    }
  }
}
