.o-hero {
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    padding: 100px 48px;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      &--left {
        @include make-col(4.2);
        padding-top: 80px;
      }

      &--right {
        @include make-col(7.8);
      }
    }
  }

  &__sub-title {
    font-size: 20px;
    color: $blue;
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 37px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 79px;
      height: 3px;
      background: $blue;
    }
  }

  &__title {
    width: 100%;
    min-height: 299px;
    overflow: hidden;
    position: relative;
  }

  &__title-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__title-bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__title-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 70px;
    color: $black;
    background: $white;
    position: absolute;
    z-index: 2;
    mix-blend-mode: screen;
    margin-bottom: 0;
    font-weight: $font-weight-bolder;
  }

  &__sub {
    color: $dark;
    font-size: 25px;
    font-weight: $font-weight-light;
    max-width: 434px;
    margin-bottom: 85px;
  }

  &__cta {
    font-size: 20px;
    font-family: $OpenSansFontFamily;
    padding: 22px 57px;
    display: flex;
    align-items: center;
    width: 249px;
    justify-content: space-between;
    color: $black;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffd54f 0%, #ffb200 100%);
    box-shadow: 0 4px 14px #ffd54f;
    transition: 0.3s;

    &:hover {
      color: $black;
      box-shadow: none;
    }
  }

  &__cta-icon {
    max-width: 30px;
  }

  &__sliders {
    width: 100%;
    height: 849px;
    position: relative;
    overflow: hidden;

    &:hover {
      .c-iamges-slider__item--active {
        transform: scale(1.2);
      }

      .c-project-slider {
        margin-left: 28px;

        @include media-breakpoint-down(sm) {
          margin-left: 10px;
        }
      }
    }
  }

  &__images-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 86px);
    height: 770px;
  }

  &__progress-slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 184px);
    height: 377px;
    background: $black;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    padding: 26px 37px;
  }

  &__count-slider {
    position: absolute;
    top: 61px;
    right: 51px;
    z-index: 3;
  }

  &__project-slider {
    position: absolute;
    bottom: 78px;
    left: 0;
    z-index: 3;
    background: rgba($black, 0.79);

  }

  &__next-slider {
    position: absolute;
    right: 86px;
    bottom: 78px;
    z-index: 3;
  }

  &__scroll {
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: rotate(-90deg);
    position: absolute;
    right: 10px;
    bottom: 358px;
    transform-origin: right bottom;

    &:hover {
      .o-hero__scroll-line::before {
        right: 150%;
      }
    }
  }

  &__scroll-line {
    width: 177px;
    height: 2px;
    margin-left: 15px;
    background: $blue;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      width: 60px;
      height: 2px;
      background: $white;
      position: absolute;
      top: 0;
      right: -50%;
      transition: 0.7s ease 0s;
    }
  }

  &__scroll-text {
    color: $blue;
    font-size: 20px;
    font-family: $RobotoFontFamily;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
  }

  @include media-breakpoint-down(lg) {

    &__title {
      min-height: 200px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    &__title-text {
      font-size: 43px;
    }

    &__sliders {
      height: 650px;
    }

    &__images-slider {
      height: 571px;
    }

    &__scroll {
      bottom: 407px;
    }
  }

  @include media-breakpoint-down(md) {

    &__container {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__scroll {
      display: none;
    }

    &__title-text {
      font-size: 49px;
      text-align: center;
    }

    &__sub-title {
      text-align: center;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__sub {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    &__cta {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 55px;
    }

    &__images-slider {
      width: calc(100% - 23px);
    }

    &__count-slider {
      top: 37px;
      right: 9px;
    }

    &__next-slider {
      right: 23px;
      bottom: 78px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__sliders {
      height: 235px;
    }

    &__images-slider {
      height: 213px;
    }

    &__title {
      min-height: 160px;
      max-width: 335px;
    }

    &__sub-title {
      font-size: 14px;
    }

    &__title-text {
      font-size: 39px;
    }

    &__sub {
      font-size: 20px;
      margin-bottom: 50px;
    }

    &__cta {
      font-size: 15px;
      width: 189px;
      padding: 15px 40px;
    }

    &__next-slider {
      right: 15px;
      bottom: 34px;
    }

    &__project-slider{
      bottom: 22px;
    }

    &__progress-slider  {
      width: calc(100% - 51px);
      height: 104px;
      padding: 7px 10px;
    }
  }

}
