.o-process {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $white;

  &__container {
    @include make-container();
    max-width: 1504px + $grid-gutter-width;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();

    &--left {
      @include make-col(5);
    }

    &--right {
      @include make-col(7);
    }
  }
}
