.o-our-company {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $white;

  &__container {
    @include make-container();
    max-width: 1504px;
  }

  &__row {
    @include make-row();
    margin-bottom: 200px;
  }

  &__col {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: 177px;
  }

  &__title-text {
    position: relative;
    z-index: 2;
    font-size: 70px;
    line-height: 79px;
    color: $dark;
    font-weight: $font-weight-light;
  }

  &__title-bg {
    position: absolute;
    width: calc(100% - 40px);
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
  }


  &__section-title {
    font-size: 50px;
    color: $dark;
    font-weight: $font-weight-light;
    margin-bottom: 110px;
    text-align: center;
  }

  &__collapse {
    margin-bottom: 150px;
  }

  &__dots {
    width: 651px;
    height: 536.5px;
    position: sticky;
    top: 60px;
  }

  &__dot {
    position: absolute;
    width: 313px;
    height: 313px;
    border-radius: 160px;
    transform-origin: center center;
    transition: 0.3s ease 0s;
    overflow: hidden;


    &--1 {
      background: rgba(rgb(22, 149, 180), 0.08);
      top: 0;
      left: 110px;
      z-index: 2;
    }

    &--2 {
      background: rgba(rgb(255, 217, 114), 0.52);
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border: 5px dashed rgb(112, 112, 112);
      border-radius: 160px;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        animation: spin 20s linear infinite;

      }
    }
  }

  &__dot-text {
    font-size: 25px;
    color: $dark;
    position: absolute;
    z-index: 3;
    pointer-events: none;

    &--1 {
      top: 139px;
      left: 176px;
    }

    &--2 {
      top: 363px;
      left: 91px;

    }

    &--3 {
      right: 0;
      bottom: 90px;
    }

  }

  &__dot-line {
    width: 233px;
    height: 1px;
    background: rgb(112, 112, 112);
    position: absolute;
    right: 184px;
    bottom: 195px;
    transform: rotate(30deg);
  }

  @include media-breakpoint-down(md) {
    &__title {
      margin-bottom: 60px;
    }
    &__title-text {
      font-size: 50px;
    }

    &__dots {
      margin-bottom: 50px;
    }

    &__section-title {
      font-size: 35px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    &__dots {
      display: none;
    }

    &__title {
      max-width: 270px;
    }

    &__title-text {
      font-size: 37px;
      line-height: 42px;
      font-weight: $font-weight-light;
    }

    &__title-bg {
      top: auto;
      bottom: 5px;
    }

    &__container {
      background: #ebebeb;
      padding-top: 45px;
      padding-bottom: 5px;
    }

    &__row {
      margin-bottom: 60px;
    }

    &__section-title {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
}
