.o-overview {
  padding-top: 100px;
  padding-bottom: 39px;
  background: $white;

  &__container {
    @include make-container();
    max-width: 1504px;
  }

  &__top {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 150px;
  }

  &__sub-title {
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 32px;
    padding-bottom: 13px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 108px;
      height: 2px;
      background: $blue;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 13px;
  }

  &__title-text {
    position: relative;
    z-index: 2;
    font-size: 70px;
    line-height: 79px;
    color: $dark;
    font-weight: $font-weight-bold;
  }

  &__title-bg {
    position: absolute;
    width: calc(100% - 70px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sub {
    font-size: 25px;
    color: $dark;
    opacity: 0.5;
    margin-bottom: 19px;
  }

  &__cta {
    font-size: 14px;
    padding: 11px 24px;
    font-weight: $font-weight-semibold;
    font-family: $OpenSansFontFamily;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    color: $blue;
    border: 1px solid $blue;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  &__cta-icon {
    width: 25px;

    path {
      fill: $blue;
    }
  }

  &__abouts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__about {
    width: 220px;
    padding: 0 20px;
    text-align: center;
  }

  &__about-icon {
    margin-bottom: 23px;
  }

  &__about-title {
    font-size: 25px;
    font-weight: $font-weight-light;
    color: $dark;
  }

  &__image-wapper {
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-down(md) {

    &__title-text {
      font-size: 50px;
    }

    &__abouts {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    &__about {
      margin-bottom: 40px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__top {
      max-width: 307px;
      margin-bottom: 60px;
    }

    &__sub-title {
      font-size: 14px;
    }

    &__title-text {
      font-size: 37px;
      line-height: 42px;
      font-weight: $font-weight-light;
    }

    &__title-bg {
      width: 100%;
      top: auto;
      bottom: 5px;
      transform: translateX(-50%);
    }

    &__sub {
      font-size: 18px;
    }

    &__cta {
      display: flex;
    }

    &__abouts {
      padding: 0 20px;
    }

    &__about {
      width: 145px;
    }

    &__about-icon {
      width: 59px;
    }

    &__about-title {
      font-size: 12px;
    }
  }
}
