.o-blogs-news {
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    @include make-container();
    padding-left: 60px;
  }

  &__title {
    font-size: 100px;
    font-family: $RobotoFontFamily;
    margin-bottom: 19px;
    font-weight: $font-weight-light;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      width: 590px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 300px;
      transform: translateY(-50%);
      background: $black;
    }
  }

  &__sub {
    font-size: 29px;
    font-weight: $font-weight-light;
    max-width: 734px;
    margin-bottom: 60px;
  }

  &__row {
    display: flex;
    margin-bottom: 137px;
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      width: 100%;
      margin-right: -15px;
    }
  }

  &__col {
    @include media-breakpoint-up(lg) {
      &--right {
        width: 73%;
      }
    }
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    margin-top: -120px;
    padding-top: 120px;
    padding-left: -60px;
    padding-left: 60px;
    position: relative;
  }

  &__slider-wrapper {
    display: flex;
  }

  &__slider-item {
    margin-bottom: 90px;
  }

  &__slider-arrow {
    position: absolute;
    bottom: 0;
    z-index: 30;
    cursor: pointer;

    &--prev {
      left: 50px;
    }

    &--next {
      right: 91px;
    }

    &.swiper-button-disabled {
      opacity: 0.7;
      cursor: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    &__slider-arrow {
      display: none;
    }

    &__container {
      padding-right: 28px;
      padding-left: 28px;
    }

    &__title {
      font-size: 70px;

      &::before {
        right: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__row {
      margin-bottom: 0;
    }

    &__title {
      font-size: 50px;

      &::before {
        right: 0;
        width: 300px;
      }
    }

  }

  @include media-breakpoint-down(sm) {

    &__slider {
      padding-left: 20px;
    }

    &__row {
      overflow-x: scroll;
      margin-right: -28px;
      align-items: center;
    }

    &__title {
      font-size: 36px;

      &::before {
        right: -200px;
      }
    }

    &__sub {
      font-size: 12px;
      margin-bottom: 0;
    }

    &__slider-item {
      margin-top: 90px;
    }
  }
}
