.o-work {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $white;

  &__container {
    @include make-container();
    padding-left: 25px;
    padding: 25px;
    max-width: 1504px + 25px;
  }

  &__top {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 150px;
  }

  &__sub-title {
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 32px;
    padding-bottom: 13px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 108px;
      height: 2px;
      background: $blue;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 13px;
  }

  &__title-text {
    position: relative;
    z-index: 2;
    font-size: 70px;
    line-height: 79px;
    color: $dark;
    font-weight: $font-weight-bold;
  }

  &__title-bg {
    position: absolute;
    width: calc(100% - 70px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sliders {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
    z-index: 2;


    @include media-breakpoint-down(lg) {
      height: 500px;
    }
  }

  &__image-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image-slider-wrapper {
    display: flex;
    height: 100%;
    will-change: transform;
  }

  &__image-slider-item {
    flex: 0 0 auto;
  }

  &__image-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__progress-slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    background: rgba($black, 0.65);
    padding: 13px 45px 24px 45px;
  }

  &__sliders-title {
    position: absolute;
    top: -65px;
    left: 0;
    font-size: 36px;
    font-weight: $font-weight-medium;
    font-family: $OpenSansFontFamily;
    color: $dark;
    padding: 38px 90px 38px 53px;
    background: $white;
    z-index: 2;
    box-shadow: 0 4px 30px rgba($black, 0.16);

  }

  &__cards {
    margin-top: -236px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
  }

  &__cards-wrapper {
    display: flex;
  }

  &__cards-pagination {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    .swiper-pagination-bullet {
      margin-right: 15px;
      width: 11px;
      height: 11px;
      border-radius: 20px;
      border: 1px solid $blue;
      transition: 0.3s ease 0s;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background-color: $blue;
      }

      &:last-child {
        margin-right: 0;
      }

    }
  }


  @include media-breakpoint-down(md) {
    &__sliders {
      height: 400px;
    }
    &__sliders-title {
      font-size: 30px;
    }
    &__title-text {
      font-size: 50px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
    &__top {
      margin-bottom: 75px;
    }

    &__sub-title {
      font-size: 14px;
    }

    &__title-text {
      font-size: 37px;
      line-height: 42px;
    }

    &__title-bg {
      width: 100%;
      top: auto;
      bottom: 0;
      transform: translateX(-50%);
    }

    &__sub {
      font-size: 18px;
    }

    &__sliders-title {
      font-size: 12px;
      padding: 11px 21px;
      top: -24px;
    }

    &__sliders {
      max-width: 317px;
      height: 191px;
    }

    &__progress-slider {
      width: 100px;
      padding: 10px 20px;
    }


    &__cards {
      margin-top: -50px;
    }
  }

}
