.o-step {
  padding-top: 100px;
  padding-bottom: 100px;

  &:not(.o-step--1) {
    display: none;
  }

  &__title {
    font-size: 143px;
    font-weight: $font-weight-bolder;
    font-family: $RobotoFontFamily;
    line-height: 159px;
    max-width: 886px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 160px;
  }

  &__count {
    text-align: center;
    font-size: 40px;
    font-weight: $font-weight-light;
    color: $blue;
    margin-bottom: 30px;
  }

  &__sub {
    font-size: 40px;
    max-width: 1148px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: $dark;
    font-weight: $font-weight-light;
    margin-bottom: 70px;
  }

  &__helps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1502px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-between(md, lg) {
      justify-content: center;
    }
  }

  &__help {
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    cursor: pointer;

    &.is-active {
      .o-step__help-icon {
        background: $blue;
        border-color: $blue;

        svg path {
          fill: $white;
        }
      }
    }
  }

  &__help-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    border-radius: 150px;
    border: 2px solid rgba($black, 0.18);
    margin-bottom: 20px;
    transition: 0.3s ease 0s;

    svg path {
      fill: $blue;
      transition: 0.3s ease 0s;
    }
  }

  &__help-title {
    font-size: 40px;
    color: $blue;
    text-transform: capitalize;
  }

  &__multi {
    max-width: 823px;
    margin-left: auto;
    margin-right: auto;
  }

  &__multi-title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__multi-form {
    padding: 16px 24px;
    background: #eaf5f8;
    border-radius: 20px;
    width: 100%;
  }

  &__multi-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__multi-tags {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
  }

  &__multi-tag-more {
    margin-right: 15px;
  }

  &__multi-tag {
    padding: 15px 45px;
    font-size: 23px;
    color: $white;
    background: $blue;
    border-radius: 30px;
    margin-right: 15px;
    box-shadow: 0 4px 14px rgba($blue, 0.38);
  }

  &__multi-toggler {
    cursor: pointer;
  }

  &__multi-input {
    width: 100%;
    padding: 26px 31px;
    border: none;
    background: $white;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 30px;

    &:focus {
      outline: none;
    }
  }

  &__multi-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

    .c-checkbox {
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }

  &__form {
    max-width: 1314px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__form-row {
    @include make-row();
    justify-content: center;
  }

  &__form-col {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(6)
    }
  }

  &__textarea-wrapper {
    max-width: 931px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &__input {
    width: 100%;
    background: #eaf5f8;
    border: none;
    padding: 30px 40px;
    font-size: 30px;
    margin-bottom: 45px;

    &:focus {
      outline: none;
    }

    &--textarea {
      min-height: 422px;
    }
  }

  &__bbs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;

    &--type {
      max-width: 945px;
    }
  }

  &__bb {
    font-size: 40px;
    color: $dark;
    border: 2px solid $blue;
    padding: 20px 62px 25px 90px;
    margin-bottom: 40px;
    border-radius: 54px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease 0s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 33px;
      width: 35px;
      height: 35px;
      background: $white;
      border: 2px solid $blue;
      transform: translateY(-50%);
      border-radius: 20px;
      transition: 0.3s ease 0s;
    }

    &.is-active {
      background: $blue;
      color: $white;

      &::before {
        background: $white;
        border-color: $white;
      }
    }
  }

  &__culture {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &__culture-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 79px;
    color: $dark;
  }

  &__culture-icon {
    svg {
      width: 68px;
      height: 50px;

      path {
        fill: $blue;
        stroke: $blue;
      }
    }
  }

  &__submit-btn {
    font-size: 25px;
    color: $white;
    background: $blue;
    border-radius: 42px;
    padding: 25px 85px;
    box-shadow: 0 4px 14px rgba($blue, 0.6);
    border: none;

    &:focus {
      outline: none;
    }
  }


  &__ranges {
    max-width: 1002px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;

    .c-range {
      margin-bottom: 120px;
    }
  }

  &--1 {
    padding-top: 0;
  }

  &--8 {
    text-align: center;
  }

  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 90px;
      line-height: initial;
      max-width: 640px;
      margin-bottom: 100px;
    }

    &__count,
    &__sub,
    &__help-title {
      font-size: 30px;
    }

    &__help-icon {
      width: 200px;
      height: 200px;
    }

    &__culture {
      max-width: 605px;

    }

    &__culture-cta {
      font-size: 50px;
    }

    &__form {
      max-width: 1000px;
    }

    &--6 {
      padding-bottom: 0;
    }

    &--1 {
      padding-top: 100px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      font-size: 60px;
      line-height: initial;
      max-width: 640px;
      margin-bottom: 30px;
    }

    &__count,
    &__help-title {
      font-size: 24px;
    }

    &__sub {
      font-size: 16px;
    }

    &__count {
      margin-bottom: 0;
    }

    &__helps {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__help {
      margin-bottom: 0;
    }

    &__help-icon {
      width: 200px;
      height: 200px;
    }

    &__multi-title {
      font-size: 12px;
    }

    &__multi-tag {
      font-size: 12px;
      padding: 8px 13px;
    }

    &__multi-toggler svg {
      width: 20px;
    }

    &__multi-form {
      padding: 13px 10px;
    }

    &__multi-input {
      font-size: 12px;
      padding: 11px;
      border-radius: 8px;
    }

    &__multi-options {
      padding: 0 20px;
      justify-content: space-between;

      .c-checkbox {
        margin-right: 25px;
        margin-bottom: 19px;
      }
    }

    &__culture {
      max-width: 313px;

    }

    &__culture-cta {
      font-size: 23px;
      padding-bottom: 22px;
      border-bottom: 2px solid $blue;
    }

    &__culture-icon {

      &,
      svg {
        width: 20px;
      }
    }

    &__bbs {
      max-width: 700px;
      justify-content: space-evenly;
    }

    &__bb {
      font-size: 15px;
      padding: 10px 23px 10px 40px;
      margin-bottom: 14px;

      &::before {
        width: 12px;
        height: 12px;
        left: 12px;
      }
    }

    &__form {
      max-width: 1000px;
    }

    &__input {
      font-size: 15px;
      padding: 18px 24px;
      border-radius: 8px;
      margin-bottom: 13px;

      &--textarea {
        min-height: 210px;
      }
    }

    &__ranges {
      padding-left: 20px;
      padding-right: 40px;

      .c-range {
        margin-bottom: 74px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__submit-btn {
      font-size: 15px;
      padding: 13px 44px;
      margin-top: 35px;
    }

    &--4 {
      .o-step__bbs {
        max-width: 250px;
        justify-content: center;
      }
    }
  }
}
