.o-testimonial {
  padding: 80px 0;
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    @include make-container();
    padding-left: 60px;
    padding-right: 60px;
    position: relative;

    &--2 {
      padding-left: 100px;
    }
  }

  &__title {
    font-size: 100px;
    font-family: $RobotoFontFamily;
    margin-bottom: 19px;
    font-weight: $font-weight-light;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      width: 590px;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 300px;
      transform: translateY(-50%);
      background: $black;
    }
  }

  &__sub {
    font-size: 29px;
    font-weight: $font-weight-light;
    max-width: 734px;
    margin-bottom: 60px;
  }

  &__row {
    @include make-row();
  }

  &__col {
    @include make-col-ready();
    position: unset;

    @include media-breakpoint-up(lg) {
      &--left {
        @include make-col(5);
      }

      &--right {
        @include make-col(7);
        padding-left: 70px;
      }
    }
  }

  &__slider {
    width: 890px;
    height: 670px;
    overflow: hidden;
    transition: margin .3s ease 0s;
    margin-left: auto;
  }

  &__slider-pagination {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

    .swiper-pagination-bullet {
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 20px;
      border: 1px solid $blue;
      margin-bottom: 34px;
      transition: 0.3s ease 0s;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background-color: $blue;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__container {
      padding-right: 28px;
    }

    &__title {
      font-size: 70px;

      &::before {
        right: 0;
      }
    }

    &__col--right {
      padding-left: 15px;
    }

    &__slider {
      max-width: 650px;
      width: 100%;
      margin: 0 auto;
    }

  }

  @include media-breakpoint-down(md) {

    &__title {
      font-size: 50px;

      &::before {
        right: 0;
      }
    }

    &__container {
      padding-left: 28px;
    }

    &__authors {
      display: flex;
      overflow: scroll;
      margin-left: -37px;
      margin-right: -28px;
    }

    &__slider {
      height: 450px;
    }

    &__col--right {
      position: relative;
      padding-top: 52px;
    }

    &__slider-pagination {
      top: 0;
      display: flex;
      left: 50%;
      transform: translateX(-50%);

      .swiper-pagination-bullet {
        margin-right: 28px;
        width: 11px;
        height: 11px;

        &:last-child {
          margin-right: 0;
        }

      }
    }

    &__sub {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 36px;

      &::before {
        width: 300px;
        right: -200px;
      }
    }

    &__sub {
      font-size: 12px;
    }
  }
}
