.o-award {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 136px;
  padding-top: 136px;
  display: flex;
  position: relative;
  background-color: $white;
  z-index: 2;

  &__container {
    width: 100%;
  }

  &__tree {
    width: 100%;
    max-width: 270px;
    flex: 0 0 auto;
    padding-top: 400px;
  }

  &__title {
    color: $dark;
    font-size: 70px;
    line-height: 79px;
    margin: auto;
    margin-bottom: 165px;
    max-width: 525px;
    text-align: center;
    font-weight: $font-weight-light;
  }

  &__sub-title {
    color: $dark;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 108px;
      height: 2px;
      background: $blue;
    }
  }

  &__row {
    @include make-row();
    width: 100%;
  }

  &__col {
    @include make-col-ready();
    @include make-col(6);
  }
}
