.c-about {
  $root: &;
  width: 100%;
  min-height: 434px;
  padding: 23px 94px 23px 47px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s ease 0s;
  margin-bottom: 50px;
  background: $white;

  &__icon {
    position: absolute;
    top: -30px;
    right: -30px;
    opacity: 0.23;
    transition: 0.3s ease 0s;

    svg,
    path,
    text {
      transition: 0.3s ease 0s;

    }
  }

  &__title {
    font-size: 22px;
    font-weight: $font-weight-medium;
    color: $dark;
    font-family: $RobotoFontFamily;
    margin-bottom: 32px;
    transition: 0.3s ease 0s;

  }

  &__sub {
    font-size: 20px;
    color: $dark;
    font-family: $RobotoFontFamily;
    font-weight: $font-weight-light;
    transition: 0.3s ease 0s;
  }

  &:hover {
    background: $dark;

    #{$root} {
      &__icon {
        opacity: 1;

        svg,
        path,
        text {
          fill: $white;
        }
      }

      &__title,
      &__sub {
        color: white;
      }
    }

  }

  @include media-breakpoint-down(sm) {
    min-height: 307px;
    padding-left: 22px;
    padding-right: 35px;
    margin-bottom: 29px;

    &__icon {
      top: -80px;
      right: -10px;
      svg {
        max-width: 120px;
      }

    }
    &__title {
      font-size: 15px;
      font-weight: $font-weight-medium;
      margin-bottom: 15px;
    }

    &__sub {
      font-size: 15px;
    }
  }
}
