.c-iamges-slider {
 width: 100%;
 height: 100%;
  overflow: hidden;

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__item {
    flex: 0 0 auto;
    transition: all 300ms ease 0s;
  }

  &__image {
    width: 100%;
    height: 100%;
    @include object-fit(cover);
  }
}
