.c-post-card {
  $root: &;

  width: 450px;
  flex: 0 0 450px;
  height: 544px;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba($black, 0.35);
  background: #00bad4;
  position: relative;
  margin-left: -102px;
  transition: 0.3s ease 0s;
  z-index: 1;

  &__header {
    width: 100%;
    height: 313px;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, transparent, #00bad4);
      opacity: 0.52;

    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__view {
    position: absolute;
    right: 102px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 4px 14px;
    background: rgba($black, 0.35);
    border-radius: 10px 0 0 0;
    z-index: 2;
    transition: 0.3s ease 0s;
  }

  &__view-count {
    color: $white;
    font-size: 17px;
    font-weight: $font-weight-medium;
    margin-left: 5px;
  }

  &__body {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 42px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  &__meta {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $white;
    margin-bottom: 95px;
  }

  &__type {
    font-weight: $font-weight-bold;
    margin-right: 5px;
  }

  &__title {
    color: $white;
    font-size: 35px;
    font-weight: $font-weight-bold;
    margin-bottom: 92px;
  }

  &__author {
    display: flex;
  }

  &__author-image {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;

    img {
      width: 54px;
      height: 54px;
      border-radius: 28px;
      @include object-fit(cover);
      overflow: hidden;
    }
  }

  &__author-image-border {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__author-title {
    font-size: 18px;
    font-weight: $font-weight-medium;
    font-family: $RobotoFontFamily;
    color: $white;
  }

  &__author-name {
    font-size: 23px;
    font-weight: $font-weight-bold;
    color: $white;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__author-tag {
    padding: 5px 28px;
    border: 1px solid #0097bb;
    border-radius: 20px;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }

  &:focus-within,
  &:hover {
    transform: translateY(-2rem);

    &~#{$root} {
      transform: translateX(102px);
    }

    #{$root}__view {
      right: 0;
    }
  }

  &:last-child {
    #{$root}__view {
      right: 0;
    }
  }

  &:nth-child(2n+2) {
    background: #0097bb;

    #{$root} {
      &__header {
        height: 206px;
      }

      &__body {
        top: 206px;
        padding-top: 15px;
      }

      &__meta {
        margin-bottom: 0;
      }

      &__title {
        margin-bottom: 0;
      }

      &__author-tag {
        border-color: #00bad4;
      }

      @include media-breakpoint-down(lg) {
        &__header {
          height: 125px;
        }

        &__body {
          top: 125px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: 329px;
    width: 298px;
    flex: 0 0 298px;

    &__header {
      height: 189px;
    }

    &__body {
      padding: 24px 22px;
    }

    &__meta {
      font-size: 10px;
      margin-bottom: 59px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 59px;
    }

    &__author-image {
      width: 43px;
      height: 43px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &__author-image-border {
      bottom: 2px;

      svg {
        height: 20px;
        width: 43px;
      }
    }

    &__author-title {
      font-size: 9px;
      margin-bottom: 4px;
    }

    &__author-name {
      font-size: 12px;
      margin-bottom: 15px;
    }

    &__author-tag {
      font-size: 7px;
    }

    &__view-count {
      font-size: 11px;
    }
  }
}
