.c-next-slider {
  width: 269px;
  height: 177px;
  position: relative;
  overflow: hidden;
  cursor: pointer;


  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    transition: width 300ms ease 0s;
  }

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__item {
    flex: 0 0 auto;
    padding: 24px;
    height: 100%;
    position: relative;
  }

  &__image,
  &__video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    @include object-fit(cover);
    z-index: 1;
    transition: transform 300ms ease 0s;
  }

  &__title,
  &__name {
    position: relative;
    z-index: 2;
    font-family: $RobotoFontFamily;
    color: $white;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 25px;
  }

  &__name {
    font-size: 28px;
    font-weight: $font-weight-medium;
  }

  &:hover {
    .c-next-slider__item--active {

      .c-next-slider__image,
      .c-next-slider__video {
        transform: scale(1.2);
      }
    }

    .c-next-slider__btn {
      width: 65px;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 74px;
    height: 50px;

    &__btn {
      width: 15px !important;
      padding: 2px;

      &:hover {
        width: 20px !important;
      }
    }

    &__title {
      font-size: 5px;
    }
  }
}
