.c-navbar {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 99;

  @include media-breakpoint-up(lg) {
    height: 100vh;

    &__bg {
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
      width: 100vw;
      transition: 0.9s cubic-bezier(0.26, 0.54, 0.79, 0.54) 0s;

      &--1 {
        background: #c5f0f6;
        z-index: 1;
      }

      &--2 {
        background: #00bad3;
        z-index: 2;
        transition-delay: 0.2s;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(5px - 250vw);
    right: calc(34px - 250vw);
    width: 500vw;
    height: 500vw;
    background-color: $white;
    border-radius: 50%;
    transform-origin: center;
    transform: translateX(6px) translateY(19px) scaleX(0) scaleY(0) translateZ(0px);
    transition: 1.5s cubic-bezier(0.39, 0.58, 0.28, 1.02) 0s;
  }

  &__nav {
    width: 134px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background: $grey;
    padding-top: 38px;
    padding-bottom: 58px;
    transition: background 350ms ease 0s;
    overflow: hidden;
    z-index: 4;

    @include media-breakpoint-between(md, lg) {
      width: 90px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 55px;
      flex-direction: row;
      padding: 0 20px;
      z-index: auto;
    }

    @include media-breakpoint-up(lg) {
      &:hover {
        background: $black;
      }
    }
  }

  &__brand {
    width: 209px;
    overflow: hidden;
    position: absolute;
    top: 38px;
    left: 160px;
    transition: 750ms ease 0s;
    z-index: 6;

    &--white {
      opacity: 0;
      top: 40px;

      .c-navbar__brand-image {
        max-width: 190px;
      }
    }

    @include media-breakpoint-down(md) {
      position: unset;
      top: auto;
      left: auto;
      width: 97px;

      &--white {
        display: none;
      }
    }
  }


  &__brand-image {
    max-width: 209px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__logo {
    position: absolute;
    top: 47px;
    left: 42px;
    max-width: 50px;
    z-index: 1;
    transition: 750ms ease 0s;
    opacity: 0;

    @include media-breakpoint-between(md, lg) {
      left: 19px;
      top: 20px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__title {
    white-space: nowrap;
    transform: rotate(-90deg);
    font-size: 25px;
    font-family: $RobotoFontFamily;
    opacity: 0.33;
    transition: color 350ms ease 0s, margin 0.3s ease 0s;
    margin-bottom: 280px;
    text-transform: uppercase;


    &--2 {
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: rotate(-90deg) translate(50%, -0%);
      transform-origin: center center;
      opacity: 0;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__toggler {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &__toggler-icon {
    width: 40px;
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      width: 100%;
      height: 3px;
      background: #323232;
      border-radius: 2px;
      display: block;
      transition: 750ms ease 0s;

      &:last-child {
        width: 80%;
      }
    }

    @include media-breakpoint-down(md) {
      width: 18px;
      height: 12px;

      span {
        height: 1px;
      }
    }
  }

  &__close {
    position: absolute;
    top: 60px;
    right: 85px;
    font-family: $RobotoFontFamily;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__menu {
    width: 0px;
    overflow: hidden;
    transition: width 750ms ease 0s, height 750ms ease 0s;
    position: relative;
    z-index: 3;
    transition-delay: 0s;

    @include media-breakpoint-down(md) {
      height: 0px;
      width: 100%;
      transition-delay: 0;
    }
  }

  &__menu-container {
    display: flex;
    width: calc(100vw - 134px);
    height: 100vh;

    @include media-breakpoint-down(md) {
      width: 100vw;
      height: calc(100vh - 55px);
    }
  }

  &__menu-row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    position: relative;


    @include media-breakpoint-up(lg) {
      max-width: 50%;
      flex: 0 0 50%;
      padding-top: 85px;
      padding-bottom: 82px;
      padding-right: 85px;
      background: $white;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background: linear-gradient(-90deg, transparent, #ffffff 100%);
        right: -300px;
        width: 300px;
        z-index: 10;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__menu-col {
    @include media-breakpoint-up(lg) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 33px;
    }
  }

  &__item {
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translate(-50px, 20px);
    transition: transform 0.4s cubic-bezier(0, 0, 0.11, 0.99) 0ms, opacity 0.2s;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }


    @include media-breakpoint-down(md) {
      margin-bottom: 0px;
    }

    @media (min-height: 811px) and (min-width: 374px) and (max-width: 375px) {
      margin-bottom: 8px;
    }

  }

  &__item-bg {
    position: absolute;
    top: 20px;
    left: -120%;
    z-index: -1;
    transition: left .5s ease 0s;
  }

  &__item-link {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    font-weight: $font-weight-bold;
    opacity: .33;
    font-family: $OpenSansFontFamily;
    transition: 0.4s ease 0s;
    display: block;

    &:hover {
      color: $black;
      opacity: 1;
    }

    @include media-breakpoint-down(lg) {
      font-size: 38px;
      line-height: 40px;
    }

    @include media-breakpoint-down(md) {
      font-size: 28px;
    }

    @media (min-height: 811px) and (min-width: 374px) and (max-width: 375px)  {
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__images {
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 750ms ease 0s;
  }

  &__contacts {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.7s ease 0ms, opacity 0.5s;
    transition-delay: 0;

    @include media-breakpoint-down(sm) {
      transition-delay: 0.7s;
    }
  }

  &__address {
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  &__address-name,
  &__address-number {
    font-size: 22px;
    line-height: 23px;
    font-family: $OpenSansFontFamily;
    color: #323232;
    line-height: 33px;
  }

  &__address-number {
    font-weight: $font-weight-semibold;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    transform: translateX(-10px);
  }

  &__social {
    margin-left: 30px;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }

    @include media-breakpoint-down(sm) {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    &__emptey {
      display: none;
    }

  }

  @include media-breakpoint-up(lg) {

    &.is-scrolled {
      #{$root} {

        &__logo {
          transition-delay: 0.3s;
          opacity: 1;
        }

        &__brand {
          left: 10px;
          width: 0px;
        }

        &__title {
          margin-bottom: 0;
        }
      }

      &:not(.is-active):hover {
        .c-navbar__brand--blue {
          opacity: 0;
        }

        .c-navbar__brand--white {
          opacity: 1;
        }

        #{$root}__logo {
          transition-delay: 0s;

          &--blue {
            opacity: 0;
          }

          &--white {
            opacity: 1;
          }
        }
      }
    }
  }


  &.is-active {
    #{$root} {
      &__bg {
        left: 100%;

        &--1 {
          transition-delay: 0.2s;
        }

        &--2 {
          transition-delay: 0s;
        }
      }

      &__nav {
        background: $white;
      }

      &__menu {
        @include media-breakpoint-up(lg) {
          transition-delay: 0.7s;
        }
      }

      &__contacts {
        @include media-breakpoint-up(lg) {
          transition-delay: 0.7s;
        }
      }

      &__logo {
        transition: 0.1s;
        opacity: 0;
        transition: 0s;
      }

      &__title {
        &--1 {
          opacity: 0;
        }

        &--2 {
          opacity: 0.37;
        }
      }

      &__contacts {
        opacity: 1;
        transform: translateY(0);
      }

      &__item {
        transform: translate(0, 0);
        opacity: 1;


        &:nth-child(1) {
          transition-delay: 150ms;
        }

        &:nth-child(2) {
          transition-delay: 300ms;
        }

        &:nth-child(3) {
          transition-delay: 450ms;
        }

        &:nth-child(4) {
          transition-delay: 600ms;
        }

        &:nth-child(5) {
          transition-delay: 750ms;
        }

        &:nth-child(6) {
          transition-delay: 800ms;
        }

        &:nth-child(7) {
          transition-delay: 950ms;
        }

        &:nth-child(8) {
          transition-delay: 1100ms;
        }
      }

      &__toggler-icon {
        span {
          transform-origin: 95% center;
          transform: translateX(200px);

          &:first-child {
            transform: rotate(-45deg);
            width: 100%;
          }

          &:last-child {
            transform: rotate(45deg);
            width: 100%;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        &__brand {
          width: 209px;
          left: 160px;

          &--white {
            opacity: 0;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      &::after {
        transform: none;
      }
    }
  }


  &:not(.is-active) {
    @include media-breakpoint-up(lg) {
      #{$root}__nav:hover {
        #{$root}__title {
          color: $white;
        }

        #{$root}__toggler-icon span {
          background: $white;
        }
      }
    }
  }

}
