.c-progress-slider {
  max-width: 232px;
  width: 100%;

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &__container {
    width: 24px;
    height: 24px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      width: 7px;
      height: 8px;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item,
  &__lenght {
    color: $white;
    font-size: 21px;
    font-family: $OpenSansFontFamily;

    @include media-breakpoint-down(sm) {
      font-size: 6px;
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background: rgba($white, .39);
    position: relative;

    &.is-active {
      .c-progress-slider__line-inner {
        width: 232px;
        transition: 3s linear;

        @include media-breakpoint-down(sm) {
          width: 65px;
        }
      }
    }
  }

  &__line-inner {
    position: absolute;
    height: 2px;
    top: 0;
    left: 0;
    background: $white;
    width: 0px;
    transition: 0s;
  }


  @include media-breakpoint-down(sm) {
    max-width: 65px;

    &__top {
      margin-bottom: 1px;
    }
  }

}
