.c-testimonial-author {
  display: flex;
  align-items: center;
  padding: 29px 35px;
  border-right: 4px solid transparent;
  box-shadow: 0 4px 30px rgba($black, .33);
  margin-bottom: 56px;
  cursor: pointer;
  font-family: $OpenSansFontFamily;
  color: #323232;
  transition: border 0.3s ease 0s;

  &__image {
    margin-right: 52px;
    width: 128px;
    height: 128px;
    border-radius: 65px;
    @include object-fit(cover);
  }

  &__name {
    font-size: 30px;
    margin-bottom: 9px;
  }

  &__job {
    font-size: 20px;
    font-weight: $font-weight-light;
  }

  &__companey {
    font-size: 20px;
    font-weight: $font-weight-light;
  }

  &.is-active {
    border-color: $blue;
  }

  @include media-breakpoint-down(lg) {
    &__image {
      width: 100px;
      height: 100px;
    }

    &__name {
      font-size: 22px;
    }

    &__job,
    &__companey {
      font-size: 16px;
    }
  }

  @include media-breakpoint-down(md) {
    margin: 70px 25px;
    flex: 0 0 auto;
    padding: 12px 15px;

    &__image {
      width: 54px;
      height: 54px;
    }

    &__name {
      font-size: 12px;
    margin-bottom: 4px;

    }

    &__job,
    &__companey {
      font-size: 8px;
    }
  }

}
