@include font-face('SuperiorTitle', 'SuperiorTitle-Black');
$SuperiorTitleFontFamily: 'SuperiorTitle', sans-serif;

$font-family-base: $SuperiorTitleFontFamily;
$headings-font-family: $font-family-base;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-bolder: 900;
